events { }

http {
    server {
	    server_name dev.ce226.local;
	    location / {
	    	proxy_pass http://private_ip:7010;
	    	rewrite ^/ce226(.*)$ $1 break;
	    }
    }

    server {
	    server_name dev.ce234.local;
	    location / {
	    	proxy_pass http://private_ip:7015;
	    	rewrite ^/ce234(.*)$ $1 break;
	    }
    }

    server {
	    server_name dev.ce236.local;
	    location / {
	    	proxy_pass http://private_ip:7020;
	    	rewrite ^/ce236(.*)$ $1 break;
	    }
    }

    server {
	    server_name dev.ce241.local;
	    location / {
	    	proxy_pass http://private_ip:7025;
	    	rewrite ^/ce241(.*)$ $1 break;
	    }
    }

    server {
	    server_name dev.ce242.local;
	    location / {
	    	proxy_pass http://private_ip:7030;
	    	rewrite ^/ce242(.*)$ $1 break;
	    }
    }

    server {
	    server_name dev.pma.local;
	    location / {
	    	proxy_pass http://private_ip:8080;
	    	rewrite ^/ce-phpmyadmin(.*)$ $1 break;
	    }
    }
}
